 .header {
  float: center;
 }

.about {
   background-color: #881139;
   height: 500px;
}

 h1 {
  font-size: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-family: serif;
  margin: 0;
  font-size: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 1.6;
  font-size: 18px;
  font-family: 'IBM Plex Serif', serif;
  color: white;
}

.container-fluid {
  padding: 0;
  color: black;
}

.grey {
  background-color: grey;
}

.black {
  color: white;
  height: 475px;
}

.row {
  padding: 50px 0px;
  margin-bottom: 0px;
}
