body {
 	background-color: black;
 	font-family: futura bold;
 	}
 h1 {
 	font-size: 40px;
 	color: white;
 	text-align: center;
 	font-family: 'Monoton', cursive;
 }
 h2 {
 	font-size: 25px;
 	color: white;
 	text-align: center;
 	font-family: 'Monoton', cursive;
 }
 h3 {
 	color: white;
 	text-align: center;
 }

 p {
 	color: #BFBDBF;
 	text-align: left;
 	max-width: 40em;
 	font-family: 'Monoton', cursive;
 }
 blockquote {
 	border: 70px solid black;
 	padding: 300px;
 	background-color: #6D182D;
 }

#first #second {
  width: 60%;
  height: 50%;
  background: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
 .about {
 	width: 30%;
 	float: left;
	padding: 70px;
	height: 525px;
	background-color:grey;
	margin: 70px;
	margin-top: 70px;
	font-size: 28px;
 }
 img {
 	width: 41%;
 	float: right;
	padding: 70px;
	margin-top: -805px;
	 }

 .words {
 	width: 78%;
 	float: left;
 	height: 200px;
 	padding: 70px;
 	margin: 70px;
 	margin-top: 90px;
 	font-size: 40px;
	background-color: #856F81;
 }

 .untappedcities {
 	float: left;
 	width: 80%;
 	height: 100%;
 	margin: -350px;
	margin-top: 500px;
 }
 .blastingnews {
 	float: right;
 	width: 70%;
 	height: 150%;
 	margin: -50px;
 	margin-right:100px;
	margin-top: 355px;
 }
 ul {
 	list-style-type: none;
    border: 1px solid #BFBDBF;
    background-color: #BFBDBF;
}
li {
	display: inline-block; 
 	list-style-type: none;
 	margin: 70px;
 	margin-top: 70px;
 	font-size: 18px;
 	padding: 0px;
    font-color: white;
    float: right;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Monoton', cursive;
}
a:hover {
     color: white;
}
